/* -----------------------------------------
				BASE
----------------------------------------- */
a {
	color: #EEC248;
}

html .btn-primary {
	background-color: #EEC248;
	border-color: #EEC248;
	color: #fff;
}

html section.section-quaternary {
	background-color: #f6efef !important;
	border-color: #f6efef !important;
}

html section.section-primary p {
	color: #5e5e5e;
}

.feature-box.feature-box-style-2 .feature-box-icon {
	top: 10px;
}

.feature-box.feature-box-style-2 .feature-box-icon .fa, .feature-box.feature-box-style-2 .feature-box-icon .fas, .feature-box.feature-box-style-2 .feature-box-icon .far, .feature-box.feature-box-style-2 .feature-box-icon .fal, .feature-box.feature-box-style-2 .feature-box-icon .fab, .feature-box.feature-box-style-2 .feature-box-icon .icons {
	color: #EEC248;
}

html .heading-primary, html .lnk-primary, html .text-color-primary, html .text-primary {
	color: #EEC248 !important;
}

.thumb-info-caption .thumb-info-caption-text, .thumb-info-caption p {
	padding: 20px 10px;
}

@media (max-width: 991px) {
	.hideOnMobile {
		display: none !important;
	}
}

.custom-divider {
	width: auto;
	height: 56px;
	background: transparent url('../../images/custom-divider.svg') no-repeat center center;
	background-size: auto 16px;
}

/* -----------------------------------------
				LOGO
----------------------------------------- */
.header-logo img {
	width: 220px;
	height: auto;
}

/* -----------------------------------------
		HEADER / NAVIGATION
----------------------------------------- */
#header .wrapper-header-social-icons .header-social-icons {
	position: absolute;
	margin: 22px 0 0 0;
	top: 8px;
	right: 64px;
}

html.side-header #header {
	background-color: #c33449 !important;
}

#header .header-body {
	background-color: #c33449 !important;
}

@media (max-width: 991px) {
	#header {
		padding-bottom: 83px;
	}

	#header .wrapper-header-social-icons {
		position: absolute;
		top: 0;
		left: 48%;
		width: 100%;
		max-width: 750px;
		-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
	}
}

@media (max-width: 767px) {
	#header .wrapper-header-social-icons {
		max-width: 540px;
		left: 50%;
	}
}
@media (max-width: 575px) {
	#header .wrapper-header-social-icons {
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	#header .wrapper-header-social-icons .header-social-icons {
		position: absolute;
		margin: 0;
		bottom: 28px;
		top: auto;
		right: auto;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	#header .header-nav-main nav > ul > li {
		margin: 15px 0;
	}

	#header .header-nav-main nav > ul > li > a {
		font-family: 'Ropa Sans', sans-serif;
		font-size: 20px;
		letter-spacing: 1px;
		color: #fff;
		transition: all 0.2s ease-in-out;
	}

	#header .header-nav-main nav > ul > li > a.active {
		color: #EEC248 !important;
		background-color: transparent !important;
	}

	#header .header-nav-main nav > ul > li:hover > a.active, #header .header-nav-main nav > ul > li.open > a.active {
		background-color: transparent !important;
	}

	#header .header-nav-main nav > ul > li.open > a, #header .header-nav-main nav > ul > li:hover > a {
		color: #EEC248 !important;
		background-color: transparent !important;
	}

	html.side-header #header {
		background: -moz-linear-gradient(top, #eb6f43 0%, #c33449 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #eb6f43 0%,#c33449 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #eb6f43 0%,#c33449 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb6f43', endColorstr='#c33449',GradientType=0 ); /* IE6-9 */
	}
	
	#header .header-body {
		background-color: transparent !important;
	}

}


/* -----------------------------------------
		HOME - TEAM / BLOG
----------------------------------------- */
.owl-carousel.show-nav-title .owl-nav button[class*="owl-"] {
	color: #EEC248;
}

@media (min-width: 992px) {
	.col-half-section {
		max-width: 60%;
		margin: 0 auto;
	}
}

@media (min-width: 1280px) {
	.col-half-section {
		max-width: 50%;
		margin: 0 auto;
	}
}
html section.section-primary {
	background-color: #f6efef !important;
	border-color: #f6efef !important;
}


/* -----------------------------------------
				MENU
----------------------------------------- */
#menu {
	padding-bottom: 120px;
}

.special-menu p {
	margin: 0 85px 0 95px;
}

@media (max-width: 991px) {
	.special-menu p {
		margin: 0 0 0 95px;
	}
}

/* -----------------------------------------
		FOOTER
----------------------------------------- */
#footer.short {
	padding: 0;
}