body {
  padding-top: 60px;
  font-family: Verdana, Geneva, sans-serif;
}
body.auth {
  margin: 0;
  padding: 30px 15px 0 15px;
  font-family: Verdana, Geneva, sans-serif;
  color: #222;
  background-color: #eee;
}
body.rules {
    margin: 0;
    padding: 30px 0 30px 0;
    background-color: #A08E7A;
}

#login-box {
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 400px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #edead5;
  background-color: #f4f2dc;
}

.signup-link {
  color: #A08E7A;
}

#login-box input {
  border: 1px solid #edead5;
  border-radius: 0;
}

#login-box input:focus {
  box-shadow: 1px 1px 10px #dddaba;
}

#login-box .input-group-addon {
  color: #fff;
  background-color: #A08E7A;
  border-color: #A08E7A;
}

.signup-info {
  font-size: 12px;
}

#login-box .button {
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 7px 10px;
    border: 1px solid transparent;
    background-color: #fff;
}

#login-box .button:hover {
    text-decoration: none;
    background-color: #A08E7A;
    color: #fff;
}


#login-box .help-block {
  font-size: 12px;
}

.logo {
    padding-right: 10px;
  margin: 15px 0 30px 15px;
}

body.auth .logo {
    margin-bottom: 15px;
}


.logo img {
    margin: 0 auto;
}

.rules {
    font-size: 14px;
    color: #fff;
}

table {
    width: 100% !important;
    border: 1px solid #ddd;
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    table.dataTable.nowrap td {
        white-space: normal;
    }

    .rules {
        font-size: 12px;
    }
}